<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Unidad 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Figuras Geometricas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-select placeholder="Selecciona una figura" (ionChange)="onFigureChange($event)">
        <div slot="label">Figuras Geometricas</div>
        <ion-select-option value="Circulo">Circulo</ion-select-option>
        <ion-select-option value="Triangulo">Triangulo</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  
  <ng-container *ngIf="selectedFigure === 'Circulo'">
    <app-circulo></app-circulo>
  </ng-container>
  
  <ng-container *ngIf="selectedFigure === 'Triangulo'">
    <app-triangulo></app-triangulo>
  </ng-container>
  
</ion-content>
